body{
    background-color: rgb(0, 0, 0);
    margin:2px;
    height: 100vh;
    width: 100vw;
}

.back{
    padding:0;
    margin:0;
    position: relative;
    height:100vh;
    width: 100vw;
}

.nav{
    margin:0;
    padding:0;
  
    
    background-color: rgb(27 61 64);
   
    left:0;
    display: flex;
}


.nav ul{
    gap:100px;
    
    position:relative;
    display:flex;
   width:100%;
  
    list-style-type: none;
}

ul li{

    
    list-style: none;
    
    float:none;
}
a{
    background-color: transparent;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-family: 'Lato',sans-serif;
    font-weight: bold;
}
.first{
position: absolute;
    background-color:black;
    height: 100%;
    width: 100%;
    color:white;
    font-family: sans-serif;
    
}
img{
    border: 2px solid black;
    margin-bottom: 5px;
}

#pp{
    
height: 40px;
width:50px;


}
.profile{
    top:5px;
    left: 10px;
   position: relative;

}
h2{
    font-weight: bolder;
    margin-top:50px;
    margin-left:80px;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left:80px;
    margin-top:-20px;
    size:10px;
}

