
body{
    padding:0;
    margin:0;
}

nav {
    background-color:grey;

    width: 100vw;
    position: relative;
}



nav ul {
background-color: grey;
    gap: 25px;
    display: flex;
   

    list-style-type: none;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    border: 2px solid black;
    border: 3px solid rgba(255, 255, 255, 0.252);
    justify-content:center


}

a{
    color:white;
    background-color: none;
    font-weight: 1000;
  
}
ul li {
    margin : 5px;
    padding:10px;
    
    background-color: none;
    border-radius: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    font-weight: 1000;
    float: none;
    justify-content: space-around;
}

a {
    text-decoration: none;
}

.gojo{
    height:80vh;
    width:100vw;
    position:relative;
    border-radius: 30px;
    box-sizing: border-box;
    padding:10%;
    overflow:hidden;
}

.gojos{
    width: 100%;
    height:100%;
    border-radius: 100px;

    position: absolute;
    bottom: 8%;
    right : 0;
    opacity: 0.5;
}

bottom{
    z-index: -1;
    height:100%;
    width:100%;
    background-color: white;
    
}

.content{
    position:absolute;
    padding-left : 150px;
    padding-bottom:100px;
}
